header {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
    color: white;
    background-color: #0751A8;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

}

#city-input {
    margin: 10px 0px;
    
}

.forecast {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}

.forecast-card {
    display:flex;
    flex-direction: row;
}

.card {
    margin-right: 20px;
}

.whole-page {
    display:flex;
    flex-direction: row;
}

.current-city {
    border: solid;
    padding: 5px;
}

.search-hx {
    list-style-type: none;
    border-top: solid;
    padding: 10px;
    margin: 10px;
}

.search-hx li {
    margin: 20px 0px 20px 0px;
}

#current-icon {
    width: 40px;
    height:40px;
}

#title {
    display: flex;
    flex-direction: row;
    
}

#current-date {
    margin: 10px;
}